
{% load static %}

<!--button type="button" class="btn btn-outline-transparent background-fade" data-bs-toggle="modal" data-bs-target="#fees" style="color:white;font-weight:600">
Top UP
</button-->

  <!-- Modal -->
<div class="modal fade" id="fees" tabindex="-1" data-bs-backdrop="static"  role="dialog" aria-labelledby="fees" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content"  style="border-radius:25px">
            <div class="modal-header">
                <h5 class="modal-title" id="fees" style="font-weight:1000">Add Cash</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card text-left card- ">
                    <div class="card-body">
                        <form action='' method=POST id="input-form" class="">{%csrf_token%}
                        
                            <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Search Signatory</label>
                              <input type="text" class="form-control" name="input_field" id="input_field" aria-describedby="emailHelp">
                              <div id="" class="form-text">Enter name from agreements below</div>
                            </div>
                            
                            
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
           
                </form>
        </div>
    </div>
</div>
<script>
    const form = document.getElementById('input-form');

    form.addEventListener('submit', (event) => {
        event.preventDefault();   


        const inputValue = document.getElementById('input_field').value;

        fetch('/process_input/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams({
                input_field: inputValue
            })
        })
        .then(response => response.json())
        .then(data => {
            alert(data.result);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>